.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
}

.avatar {
  width: 50%;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
}

.tag {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  color: #95a1ad;
}

.location {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  color: #95a1ad;
}
