.transactionHistory {
  width: 800px;
  margin: 30px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}

.tableHead {
  background-color: #00bcd5;
  color: #fff;
  text-transform: uppercase;
}

.tableHeadings {
  padding: 16px;
}

.tableBody {
  font-weight: 400;
  border-color: #e4e4e4;
}

.tableRow:nth-child(2n) {
  background-color: #ecf1f3;
}

.tableData {
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: start;
  text-transform: capitalize;
}

td {
  color: #929495;
  font-size: 16px;
}
